.listen(process.env.PORT || 5000)
web: gunicorn --pythonpath main main.wsgi --preload -b 0.0.0.0:8000
worker: python main/manage.py collectstatic --noinput
web: python main/manage.py runserver 0.0.0.0:$PORT --noreload